<div class="d-flex container-fluid py-4 px-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">WRITE TO US!!</h2>
            <p class="card-text">Have any feedback or queries?
                We''d love to hear from you. Write to us at <br> <b>foodeees@gmail.com</b></p>
        </div>
        <div class="card-body">
            <h2 class="card-title">FIND YOUR NEAREST OUTLET</h2>
            <p class="card-text">Try our delicious treats and Rescue hunger with Dominos Pizza.
                <b>Locate Nearby Pizza Restaurants</b> nearest to you.</p>
        </div>
    </div>
    <div class="card">
        <h2>FOODEEES CONTACT ADDRESS</h2>
        <p>Foodeees Pizza India,
            Tower-D, Plot No. 5,
            5th Floor, Logix Techno Park,
            Sector 127, Noida - 201304, U.P.</p>
    </div>
</div>